@import 'mixins';


$header-alt-size: 400px;
$header-size: $header-alt-size;

$light-gray: #f2f2f2;

$dark-color: #1e1f21;

$menu-color: $dark-color;

$radius: 4px;

$main-color: #76ABAE;
$alt-color1: #76ABAE;
$alt-color2: #76ABAE;
$alt-color3: #02182B;
$bg-color: #EEEEEE;
$text-color: #31363F;
$alt-text-color: #FFFFFF;
$link-color: $alt-color1;
$header-color: $alt-color1;

@include smallscreen {
  $header-alt-size: 20px;
}
