{{ partial "search-index.html" . }}

<footer class="text-center footer">

  <div class="container footer-content">
    <div class="row">

      <div class="col-md-6 text-left">
        <div><img src="{{ .Site.BaseURL }}{{$.Site.Params.logo}}"></div>
      </div>

      <div class="col-md-6 text-right">
        <div>
          <a href="/sitemap.xml">Sitemap</a>
        </div>
        <div>
          {{ replace .Site.Copyright "{year}" now.Year }}
        </div>
      </div>
    </div>

</footer>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
  integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/ab4860f980.js"
  integrity="sha384-AbZOA7GYMJh1wZbW0vLI9LLjXjJcIago4vs45qRTQmAlaelCTcLcXNn1dpEmI2Jo" crossorigin="anonymous"></script>

<script src="https://unpkg.com/lunr@2.3.9/lunr.js"
  integrity="sha384-Mrc0XsDxndfJgV5jLnEeThch4j9dNEXAE1vbWeyzmERxSvF8siQfuEczzgUelQQH" crossorigin="anonymous"></script>

<script>
  const queryParams = new URLSearchParams(window.location.search);
  const query = queryParams.get("q");
  const forceCacheRefresh = query ? window.crypto.randomUUID() : ""

  var scriptElement = document.createElement("script");
  scriptElement.src = `/js/search.js?d=${forceCacheRefresh}`
  document.head.appendChild(scriptElement);
</script>


<script>

  //make all links to external websites open in new tabs as well as internal images
  const links = document.getElementsByTagName("a")
  for (let i = 0; i < links.length; i++) {
    const link = links[i]
    link.addEventListener("click", (evt) => {
      const a = evt.currentTarget
      const isImage = a.href.endsWith(".jpg") || a.href.endsWith(".png") || a.href.endsWith(".jpeg") || a.href.endsWith(".gif")
      const external = a.href.startsWith("http" && !a.href.startsWith(window.location.origin))

      if (isImage || external) {
        evt.currentTarget.target = "_blank"
        evt.currentTarget.rel = "noopener noreferrer"
      }
    })
  }

  // create hover link/icon for headers
  const headers = document.querySelectorAll(".single-post-content > h2,.single-post-content > h3,.single-post-content > h4,.single-post-content > h5,.single-post-content > h6")
  const icon = document.createElement("i")
  icon.className = "fas fa-link"
  icon.textContent = " "
  icon.style.marginLeft = "5px"
  icon.style.fontSize = "20px"

  for (let i = 0; i < headers.length; i++) {
    const h = headers[i]
    h.insertAdjacentElement("beforeend", icon.cloneNode())
    h.onclick = () => window.location.hash = h.id

  }

</script>