<footer class="text-center footer">

  <div class="container footer-content">
    <div class="row">

      <div class="col-md-6 text-left">
        <div><img src="{{ .Site.BaseURL }}{{$.Site.Params.logo}}"></div>
      </div>

      <div class="col-md-6 text-right">
        <div>
          <a href="/sitemap.xml">Sitemap</a> |
          <a href="/privacy-policy">Privacy Policy</a> |
          <a href="/terms">Terms of Use</a>
        </div>
        <div>
          {{ replace .Site.Copyright "{year}" now.Year }}
        </div>
      </div>
    </div>

</footer>


<script src="{{ .Site.BaseURL }}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://kit.fontawesome.com/ab4860f980.js" id="Fontawesome-js"></script>

<script>

  //make all links to external websites open in new tabs as well as internal images
  const links = document.getElementsByTagName("a")
  for (let i = 0; i < links.length; i++) {
    const link = links[i]
    link.addEventListener("click", (evt) => {
      const a = evt.currentTarget
      const isImage = a.href.endsWith(".jpg") || a.href.endsWith(".png") || a.href.endsWith(".jpeg") || a.href.endsWith(".gif")
      const external = a.href.startsWith("http" && !a.href.startsWith(window.location.origin))

      if (isImage || external) {
        evt.currentTarget.target = "_blank"
        evt.currentTarget.rel = "noopener noreferrer"
      }
    })
  }

</script>