<section id="header" class="header-alt"></section>
<section class="container-fluid menu-container">
  <div>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-default sticky" style="z-index:10;">
      <a class="navbarbar-brand" href="/">
        <img src="{{ .Site.BaseURL }}{{$.Site.Params.logo}}">
      </a>
      <div style="height:50px;"></div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menubar" aria-controls="menubar"
        aria-expanded="false" aria-label="">
        <span class="navbar-toggler-icon">
          <i class="fa fa-bars"></i>
        </span>
      </button>


      <div class="collapse navbar-collapse" id="menubar">
        <div class="navbar-nav mr-auto"></div>

        <ul class="navbar-nav">
          {{ range .Site.Menus.main }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>

      </div>

    </nav>
  </div>
</section>